/* Root colors */
:root{
     --pri:#F8F4E1;
    --sec:#381c0a;
    --tri1:#FEBA17;
     --tri2:#74512D;
}
/* fontface */
@font-face{
    font-family:'MonkeyType';
    src:url('./fonts/MonkeyType-Regular.ttf') format('truetype');
}

*{
    margin:0;
    padding:0;
   box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height:100%;
    width:100%;
    background-color:var(--sec);
}


section.allElems{
    height:100%;
    width:100%;
    padding:40px;
    padding-top:80px;
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    gap: 40px;
   position:absolute;
}

.elem{
    background-color:#FEBA17;
  color:white;
    height:255px;
    width:220px;
    border-radius:20px;
    overflow:hidden;
    position:relative;
    transition: all ease 0.2s;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.elem img{
    height:100%;
    width:100%;
    object-fit:cover;
}


.elem h2{
    position:absolute;
   bottom:4%;
   right:5%;
   font-weight:500;
    font-size:24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.elem:active{
    scale:0.98;
}


/* Particular Page WOrks */

.fullElem{
    height:100%;
    width:100%;
    background-color:var(--sec);
    padding:40px;

    color:var(--pri);
    font-family: 'MonkeyType', sans-serif;
    display:none;
    position:absolute;
}

/* back button */
.back{
    position: absolute;
    right: 5%;
    background-color: red;
    border-radius: 10%;
    padding: 15px 22px;
    border:none;
    font-size: 25px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.back:active{
    scale:0.98;
}
/* Css Working in TodoList */
.todo-list-fullpage{
    display:block;
    /* background-color:purple; */
}

.todo-list-fullpage h1{
    font-size:55px;
}

.todo-list-fullpage .todo-container{
  height:80%;
  width:100%;
  margin-top:40px;
 
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.todo-list-fullpage .todo-container .addTask{
    width:32%;
    height:100%;
    background-color:var(--tri2);
    border-radius:10px;
}

.todo-list-fullpage .todo-container .allTask{
    width:65%;
    height:100%;
     background-color:var(--tri2);
     border-radius:10px;
}

.todo-list-fullpage .todo-container .addTask form{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    padding:25px;
    gap:10px;
}

 .todo-container .addTask form input{
    padding:15px 25px;
    width:100%;
    font-size:18px;
    background-color:var(--pri);
    border:none;
    border-radius:5px;
    margin-bottom:20px;
}

.todo-container .addTask form textarea{
    padding:15px 25px;
    width:100%;
    height:210px;
    font-size:18px;
    background-color:var(--pri);
    border:none;
    border-radius:5px;
    margin-bottom:20px;
}


.todo-container .addTask form button{
    padding:15px 25px;
    width:100%;
    color:var(--pri);
   font-weigth:700;
    font-size:28px;
    background-color:var(--tri1);
    border:none;
    border-radius:5px;
    margin-bottom:20px;
    transition: all ease 0.2s;
}

.todo-container .addTask form button:active{
    scale:0.98;
}

/* Working On allTask */
.todo-list-fullpage .todo-container .allTask{
    width:65%;
   height:100%;
     background-color:var(--tri2);
     border-radius:10px;
     display:flex;
        flex-direction:column;
        align-items:flex-start;
        padding:25px;
}

.task{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    background-color:var(--pri);
    padding:5px 10px; 
}

.task h5{
    color:var(--sec);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:25px;
}

.task button{
  
    padding: 20px 30px;
    color:var(--pri);
    background-color:red;
    font-size:18px;
    border:none;
    border-radius:5px;
}